html{
  scroll-behavior: smooth;
}

.wrapper {
    max-width: 100%;
    margin: 80px;
  } 
  .titles{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap:150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 25px;
  } 
  a{
    color: rgba(14, 22, 83, 0.851);
    padding-left: 100px;
    text-decoration: none;
  }
  a:hover{
   color: rgb(40, 164, 236);;
  
  }
.content{
background-image: url(https://picsum.photos/id/496/1780/800?blur=7);
height: 100%;
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 100px;
  }
  
  .grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
  }
  .grid-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in 0.1s;
  }

  
  .grid-item img {
    max-width: 80%;
    height: 80%;
    margin-bottom: 10px;
  }
  .books-categories__titles{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2%;
    border-bottom-style: solid;
    border-width: 2px;
    padding-bottom: 3px;
  }
  
  @media (max-width: 1024px) {
    .grid-item {
      width: 45%;
    }
  }
  
  @media(min-width: 768px) and (max-width: 1024px) {
    .grid-item {
      width: 100%;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      margin-bottom: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .grid-item {
      width: 100%;
      margin-right: 0;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      margin-bottom: 100px;
    }
   
  }




  /* Book of the week section */
  .content__tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;

    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .grid-container-top {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:center;
    width: 70%;
    margin: 0 15%;
    padding: 5% 0;
    gap: 80px;
  }
  .grid-item-top:nth-child(1){
    grid-column: 2;
    width: 100%;
    height: 95%;
    transform: scale(1.1);
    margin-right: 20%;
    padding: 20px 10px;
    background-color: rgb(255, 255, 255);
  }
  .grid-item-top:nth-child(2){
    grid-column: 1;
    grid-row: 1;
  }
  /* .grid-item-top:not(:first-child):not(:last-child) {
    background-color: red;
} */
   .grid-item-top{
    width: 90%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.822);
    padding: 20px 20px;
    border-radius: 3%;
    box-shadow: rgba(255, 255, 255, 0.205) 0px 7px 29px 0px;
  }
  .grid-item-top:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in 0.1s;
  }

 .grid-item-top img {
  max-width: 250px;
  width: 100%;
  height: 90%;
  
 
}
