@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.user-history {
  font-size: 20px;
  font-family: "Aleo", serif;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  padding-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.book-details-history {
  margin-top: 45px;
  /* padding: 3rem 0; */
}
.book-history-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 100px;
  margin-left: 100px;
  padding: 60px;
}
.book-history-content {
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-details-img {
  max-height: 700px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.book-details-img img {
  padding-left: 0px;
  max-width: 344px;
  width: 100%;
  height: 100%;
}
.book-history-item.description {
  opacity: 0.8;
  max-width: 700px;
}
.delete-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 720px;
  margin-top: -51px;
  background-color: #3498db;
  border-radius: 4px;
}
.delete-all-btn {
  float: right;
  margin-right: 111px;
  background-color: #3498db;
  border-radius: 4px;
}
.title {
  font-size: 36px;
  font-family: "Aleo", serif;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  padding-bottom: 40px;
}
.author {
  font-size: 20px;
  font-family: "Aleo", serif;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  padding-bottom: 10px;
}
.description {
  font-size: 17px;
  font-family: "Aleo", serif;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  padding-bottom: 10px;
}
