/* HomePage.css */
.wrapper {
  margin: 10%;
}

.grid-container-homepage{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.grid-item-homepage img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  height: 350px;
  width: 300px;
}

.star {
  cursor: pointer;
  color: #ccc;
}

.star.filled {
  color: #ff9800;
}
.titles {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.filters-homepage input {
  width: 200px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  gap:50px;
}