/* HomePage.css */
.wrapper {
  margin: 10%;
}

a {
  text-decoration: none;
  color: black;
}


.grid-container-homepage{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.grid-item-homepage img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  height: 350px;
  width: 300px;
}

.star {
  cursor: pointer;
  color: #ccc;
}

.star.filled {
  color: #ff9800;
}
.titles {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.filters-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters-homepage input {
  width: 300px;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;

}
.title {
  display: flex;
  flex-direction: row;
  gap:50px;
  background-color: gray;
}

.titles__title:hover {
  scale: 110%;
}