
   .membership-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  .membership__active {
    background-color: #87ceeb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
  }
  
  .membership__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .membership__element label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .membership__element input,
  .membership__element select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
  }
  
  .membership__element input[type="text"] {
    width: 100%;
    max-width: 400px;
  }
  
  .membership__element select {
    width: 100%;
    max-width: 400px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #87ceeb;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #4682b4;
  }
  